* {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.App {
  text-align: center;
}

h1 {
  padding: 2%;
}

header {
  border-bottom: 5px dashed black;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1%;
}

#header-right, #header-left {
  width: 10vw;
  display: flex;
  justify-content: center;
}

.header-icon {
  width: 50px;
  margin: 1% 0 0 1%;
}

.search {
  background-color: lavenderblush;
  border-radius: 20px;
  text-align: center;
  width: 50vw;
}

section {
  margin: 5%;
}

#entry-container {
  padding: 3%;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#date {
  text-align: left;
}

#entry-container, #entry-container input  {
  background-color: lavenderblush;
}

#entry-text {
  width: 100%;
  padding: 2%;
  outline: none;
  border: none;
  font-size: medium;
}

#entry-button {
  border-radius: 10px;
}